.formBuilderMain {
    display: flex;
}

.inputDisplay {
    background-color: var(--SECONDARY-COLOR);
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(51, 51, 51, 0.2);
    margin-top: 20px;
    padding: 15px;
}